<!--start-block:describe:footerline-total-net-amount--><!--start-block:describe:footerline-total-net-amount-->
<!--start-block:describe:header-tva-intracom-->
<div class='col-md-2' ng-controller="netAmountController">
    <div class='form-group'>
        <div class='form-control-wrapper'>
            TVA net amount
            <input it-input
                   class='form-control'
                   type='text'
                   name='tvaIntraCom'
                   required=''
                   it-label='TVA IntraCom'
                   ng-model='invoice.data.custom.tva'/>
        </div>
        <!--start-block:describe:footerline-total-net-amount-->
<!--start-block:describe:header-tva-fr-net-->
<div class='col-md-2' ng-controller="netAmountController">
    <div class='form-group'>
        <div class='form-control-wrapper'>
            
Amount content

            TVA net amount
            <input it-input
                   class='form-control'
                   type='text'
                   name='tvaFR'
                   required=''
                   it-label='TVA FR'
                   ng-model='invoice.data.custom.tva'/>
        </div>
    </div>
</div>
<!--end-block:describe:header-tva-fr-net-->

    </div>
</div>
<!--end-block:describe:header-tva-intracom-->
<!--end-block:describe:footerline-total-net-amount-->
<!--end-block:describe:footerline-total-net-amount-->
<!--end-block:describe:footerline-total-net-amount-->