<div class="row">
    <div class="col-md-12">
        <it-master-detail >
            <it-master it-master-data="data" it-lang="'fr'" it-no-data-msg="No data available"  it-no-detail-msg="{{( masterDetails.initState ? (masterDetails.getSelectedItems().length > 0 ?  masterDetails.getSelectedItems().length +' items selected' :  'no item selected') : '') | translate}}"  it-master-detail-control="masterDetails"  it-lock-on-change="true">
                <it-master-header it-search-placeholder="Recherche" >
                    <button class="btn btn-primary" title="Add" ng-disabled="currentItemWrapper.hasChanged" ng-click="addNewItem()"><span class="fa fa-plus fa-lg"></span></button>
                    <button class="btn btn-danger" title="Delete" ng-disabled="currentItemWrapper.hasChanged" ng-click="deleteSelectedItems()"><span class="fa fa-trash fa-lg"></span></button>
                    <button class="btn btn-success" ng-disabled="currentItemWrapper.hasChanged" title="Down"><span class="fa fa-chevron-down fa-lg"></span></button>
                    <button class="btn btn-success" ng-disabled="currentItemWrapper.hasChanged" title="Up"><span class="fa fa-chevron-up fa-lg"></span></button>
                </it-master-header>
            </it-master>
            <it-detail>
                <it-detail-header>
                    <button class="btn btn-warning" title="Save"  ng-disabled="!currentItemWrapper.hasChanged" ng-click="saveCurrentItem()">
                        <span class="fa fa-floppy-o fa-lg"></span>
                    </button>
                    <button class=" btn btn-info" title="Check">
                        <span class="fa fa-file-code-o fa-lg"></span>
                    </button>
                    <button class="btn btn-success" title="Undo" ng-click="undoChange()">
                        <span class="fa fa-undo fa-lg"></span>
                    </button>

                </it-detail-header>
                <it-detail-content>
                    <div class="form-group">
						<!--start-block:describe:playlist_name-->
                        <input it-input type="text" class="form-control floating-label"
                               id="playlistName"
                               it-text="{{'PLAYLIST.NAME_LABEL' | translate}}"
                               ng-model="currentItemWrapper.currentItem.name"
                               name=""
                               ng-required="true"/>
						<!--end-block:describe:playlist_name-->
                    </div>
                    <div class="form-group">
                        <input it-input type="text" class="form-control floating-label"
                               id="playlistDescription"
                               it-text="{{'PLAYLIST.DESCRIPTION_LABEL' | translate}}"
                               ng-model="currentItemWrapper.currentItem.description"
                               name=""/>
                    </div>
                    <div class="form-group">
                        <input type="checkbox"
                               it-toggle
                               ng-model="currentItemWrapper.currentItem.shared"
                               it-label="{{'PLAYLIST.SHARED_LABEL' | translate}}"/>
                    </div>
                </it-detail-content>
            </it-detail>
        </it-master-detail>
    </div>
</div>
