<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
		
				
t
<!--start-block:describe:music_year-->
            <input type="text" class="form-control"
                   ng-model="year"
                   data-date-format="{{'YEAR_OF_LABEL' | translate}}"
                   bs-datepicker>
				<!--end-block:describe:music_year-->

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>{{'GLOBAL.ARTIST_LABEL' | translate}}</th>
                    <th>{{'GLOBAL.TITLE_LABEL' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in data">
                    <td>{{item.artist}}</td>
                    <td>{{item.title}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>