<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
						<!--start-block:describe:artiste-->
                        <th>{{'GLOBAL.ARTIST_LABEL' | translate}}</th>
						<!--end-block:describe:artiste-->
						<!--start-block:describe:title-->
                        <th>{{'GLOBAL.TITLE_LABEL' | translate}}</th>
						<!--end-block:describe:title-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in data">
                        <td>{{item.artist}}</td>
                        <td>{{item.title}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>